@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-card .ant-card-cover >*{
    border-radius: 8px;
}
.first-card .ant-card {
  border-radius: 64px 0 0 0 !important;
  background-color: #ECEEF0 !important;
}
.other-card .ant-card {
  border-radius: 0 !important;
  background-color: #F6F6F6 !important;
}

body{
    background: #232321;
}